<div id="<%= dom_id tanomu %>">
  <p>
    <strong>Username:</strong>
    <%= tanomu.username %>
  </p>

  <p>
    <strong>Userid:</strong>
    <%= tanomu.userid %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= tanomu.time %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= tanomu.photo %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tanomu.content %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= tanomu.category %>
  </p>

</div>
